<!-- pf_confirm_delete.html -->

{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2>Confirmar Exclusão</h2>
    <p>Você está prestes a excluir a pessoa física: <strong>{{ pessoa_fisica.nome }}</strong>. Tem certeza?</p>

    <form method="post" action="{% url 'delete_pessoa_fisica' id=pessoa_fisica.id %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
      <a href="{% url 'lista_pessoa_fisica' %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
{% endblock %}
